# Environment files
.env
.env.local

# Python caches
__pycache__/
*.py[cod]

# FAISS artefacts
faiss_*/          # catches faiss_hybrid/, faiss_index_flat/, faiss_semantic/
*.faiss
*.pkl


# Streamlit temp files
streamlit
datastore.json

# OS files
.DS_Store